body{
    background-color: rgb(219, 219, 199);
}

#block1{
    width: 130px;
    height: 70px;
    background-color: #f2ee05;
    border: 5px solid #181818;
    border-radius: 20px 20px 0px 0px;
    margin-top: -5px;
    transition: all .2s ease-in-out;
}

#block2{
    width: 170px;
    height: 70px;
    background-color: #2ca621;
    border: 5px solid #181818;
    border-radius: 20px 20px 0px 0px;
    margin-top: -5px;
    transition: all .2s ease-in-out;
}

#block3{
    width: 210px;
    height: 70px;
    background-color: #215fa6;
    border: 5px solid #181818;
    border-radius: 20px 20px 0px 0px;
    margin-top: -5px;
    transition: all .2s ease-in-out;
}

#block4{
    width: 250px;
    height: 70px;
    background-color: #BF2011;
    border: 5px solid #181818;
    border-radius: 20px 20px 0px 0px;
    margin-top: -5px;
    transition: all .2s ease-in-out;
}

[id^='block']:hover{
    transform: scale(1.1);
}

main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
section{
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    margin: 30px;
    height: 400px;
    width: 10px;
    border-radius: 10px 10px 0px 0px;
}

